.margin3 
  %h1{:class => I18n.locale} لیست درخواستهای استخدامی

  %table.table.city
    %tr
      %th ردیف
      %th نام و نام خانوادگی
      %th تاریخ ارسال
      %th عملیات
      

    - @employments.each_with_index do |employment, i|
      %tr 
        %td= (i+1)
        %td= employment.first_name + ',' + employment.last_name
        %td= JalaliDate.new(employment.created_at).strftime("%A %e %b %Y") 
       
        %td
          = link_to 'مشاهده', employment, :class => "btn btn-warning"              
          = link_to 'حذف', employment, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => "btn btn-danger"    

  %br


