.col-xs-12#host_form{:class => I18n.locale}  
  .form-group.col-xs-3
    = f.label 'نام:', :class => "control-label" 
    = f.text_field :name, :class => "form-control"
  .form-group.col-xs-3
    = f.label 'نام خانوادگی:', :class => "control-label" 
    = f.text_field :last_name, :class => "form-control"  
  .form-group.col-xs-3
    = f.label 'نام پدر:', :class => "control-label" 
    = f.text_field :father_name, :class => "form-control"  
  .form-group.col-xs-3
    = f.label 'شماره شناسنامه:', :class => "control-label" 
    = f.text_field :id_shenasname, :class => "form-control"  
  .form-group.col-xs-3
    = f.label 'شماره کارت ملی:', :class => "control-label" 
    = f.text_field :id_nationality_card, :class => "form-control"  
  .form-group.col-xs-3
    = f.label 'تاریخ تولد:', :class => "control-label" 
    = f.text_field :birth_date, :class => "show-calender form-control", as: :datepicker, required: false,   :placeholder => 'Select date'
  .form-group.col-xs-3
    = f.label 'محل تولد:', :class => "control-label" , :class => "control-label" 
    = f.text_field :birth_place, :class => "form-control"
    
  .form-group.col-xs-3
    = f.label 'شغل:', :class => "control-label"     
    = f.text_field :job, :class => "form-control"   
  .form-group.col-xs-6
    = f.label 'آدرس محل سکونت:', :class => "control-label"    
    = f.text_area :residence_address, :class => "form-control"
  .form-group.col-xs-3  
    = f.label 'تلفن محل سکونت:', :class => "control-label" 
    = f.text_field :residence_phone, :class => "form-control"
  .form-group.col-xs-3
    = f.label 'ایمیل:', :class => "control-label" 
    = f.text_field :email, :class => "form-control"
  .clear-float 
  .form-group.col-xs-6
    = f.label 'آدرس محل کار‍:', :class => "control-label"    
    = f.text_area :work_address, :class => "form-control"
  .form-group.col-xs-3
    = f.label 'تلفن محل کار:', :class => "control-label" 
    = f.text_field :work_phone, :class => "form-control"
  .clear-float 
  
  
  
:javascript  
  $('.show-calender').datepicker();  

