.admin-menu-title
  - if current_user.present?
    %p
      %b.fa= 'منوی مدیریت سایت'
      = current_user.email
  - @unread_tour_comment = TourComment.where(confirm_comment: 0).count
  - @unread_msg = Message.where(visited: 0).count
  - @unread_visa_form = VisaForm.where(admin_visited: 0).count
  - @unread_custom_link = CustomTour.where(visited: 0).count
  - @notifications = @unread_tour_comment + @unread_msg + @unread_custom_link + @unread_visa_form
  %span.unread= @notifications
%ul{:class => I18n.locale}  
  %li= link_to 'ثبت اخبار و تازه ها', NewsAndVent
  %li= link_to 'گواهینامه بین المللی', InvestmentInIran  
  %li= link_to 'تعریف گروه ویزا', VisaType
  %li= link_to 'معرفی ویزای جدید', Visa
  %li
    = link_to 'گزارشگیری درخواستهای ویزا', VisaForm
    - if @unread_visa_form != 0
      %span.unread= @unread_visa_form
  %li= link_to 'مدیریت خبرنامه', Customer
  %li= link_to 'مدیریت صفحات متنی', Page
  %li= link_to 'کشورها', countries_path
  %li= link_to 'شهرها', cities_path
  %li= link_to 'تعریف درجه هتل' , new_class_hotel_path
  %li= link_to 'هتل ها', hotels_path
  %li= link_to 'تعریف گروه بندی تور', TourGroup
  %li= link_to 'معرفی تورها', tours_path
  %li= link_to 'معرفی نقاط دیدنی', sights_path
  %li= link_to 'پیوندهای مرتبط', links_path
  %li= link_to 'افزودن شرکت هواپیمایی', Plane
  %li= link_to 'افزودن جوایز و گواهینامه ها', Certificate
  %li= link_to 'مدیریت اسلایدر', Slide
  %li    
    = link_to 'مشاهده نظرات کاربران', TourComment
    - if @unread_tour_comment != 0
      %span.unread= @unread_tour_comment
  %li
    = link_to 'مشاهده پیام های ارسالی', Message
    - if @unread_msg != 0
      %span.unread= @unread_msg
  %li
    = link_to 'گزارش لینکهای ارسالی', SendLink
  -#
    %li
      = link_to 'گزارش تورهای درخواستی', CustomTour
      - if @unread_custom_link != 0
        %span.unread= @unread_custom_link
  %li= link_to 'مدیریت کاربران عضو', User
  %li= link_to 'پروفایل کاربر', edit_user_path(current_user)
  %li= link_to 'خروج', destroy_user_session_path, :method => :delete
