.footer-menu
  %ul.set-center{:class => I18n.locale}   
    %li
      = link_to t('home'), { :controller => "/static", :action => :index}
      \|
    %li  
      = link_to  t('tour.tours'), tours_path, :title => "آژانس_هواپیمایی_دیدار"
      \|
    %li  
      = link_to  t('visa'),Visa     , :title => "آژانس_هواپیمایی_دیدار"   
      \|
    %li  
      = link_to  t('hotel'), Hotel  , :title => "آژانس_هواپیمایی_دیدار"      
      \|
    %li 
      = link_to  '#', "data-toggle" => "modal", "data-target" => ".bs-example-modal-sm", :title => "آژانس_هواپیمایی_دیدار" do
        = t('send-mail')
      \|
    %li
      = link_to tours_moment_tours_path, :title => "آژانس_هواپیمایی دیدار" do
        =t('imp-package')
      
    
    
    
