.col-xs-12.footer-boxes{:class => I18n.locale}
  .col-xs-1
  .col-xs-10.footer-rectangle-box{:class => I18n.locale} 
    .col-xs-6.contact-box{:class => I18n.locale}
      = render 'shared/msg_form' 
    .col-xs-6.contact-info{:class => I18n.locale}
      - @contact = Page.find_by_title_en('Contact us')
      %p= raw @contact.text
      .google-map-box
        %iframe{:height => "100%", :src => "https://www.google.com/maps/d/embed?mid=zbDi3iZxywyM.kZSqNSdorgp4&z=13", :width => "100%"}
  .col-xs-1
  .clear-float  
  
  .footer-certificate
    - @certificates = Certificate.all
    -@width_size = 100 / @certificates.count
    - @certificates.each do |certificate|
      .certificate-box{"data-toggle" => "tooltip", "data-placement" => "bottom", "title" => certificate.title, :style =>  "width:"+@width_size.to_s+"%"}
        = image_tag certificate.image(:small)
        %p= certificate.title
  
  .col-xs-12.footer-bottom
    .col-xs-4.sitevisit
      %h4.title-footer-form.contact{:class => I18n.locale}= t('sitevisit.statistics')          
      .col-xs-11
        %p{:class => I18n.locale}
          %b= t('sitevisit.total-views')
          =  Visit.all.count
        %p{:class => I18n.locale}
          %b= t('sitevisit.visits-today')
          =  @online_day
        %p{:class => I18n.locale}
          %b= t('sitevisit.online-number')
          = @online_now    
      
    .col-xs-4
      = render 'shared/footer_menu'
    
    .col-xs-4
      .footer-menu
        %ul.set-center{:class => I18n.locale}
          = link_to  '#', "data-toggle" => "modal", "data-target" => ".bs-example-modal-sm", :title => "آژانس_هواپیمایی_دیدار" do
            %li= t('send-mail')
          = link_to tours_moment_tours_path, :title => "آژانس_هواپیمایی دیدار" do
            %li=t('imp-package')
          = link_to :controller => "/static", :action => :index, :class => ('active' if current_page?('/')), :title => "آژانس_هواپیمایی_دیدار" do
            %li.home=   t('home')   
      -#
        .col-xs-12 
          = render 'shared/newsletter_subscribe'
      
    .copyright.col-xs-12= t('copyright')
    
      
    
  
    
  
  
