.footer-menu
  %ul.set-center{:class => I18n.locale}
    = link_to :controller => "/static", :action => :index, :class => ('active' if current_page?('/')), :title => "آژانس_هواپیمایی_دیدار" do
      %li.home=   t('home')  
    = link_to  tours_path, :class => ('active' if current_page?(Tour)), :title => "آژانس_هواپیمایی_دیدار" do
      %li.tour= t('foreign-tour')
      
    = link_to Sight , :class => ('active' if current_page?(Sight)), :title => "آژانس_هواپیمایی_دیدار" do
      %li.sight=  t('local-tour')
    
    = link_to  Hotel, :class => ('active' if current_page?(Hotel)), :title => "آژانس_هواپیمایی_دیدار" do
      %li= t('hotel')    
    

