
.menu_bar{:class => I18n.locale}  
  %ul#main-menu.set-center{:class => I18n.locale}  
    
    .col-xs-4.pull-right.menu-side.right-side
      %li.home.item-menu{ :class => ('active' if current_page?('/'))}
        .icon#home
        = link_to t('home'), { :controller => "/static", :action => :index}
      -#
        %li#sight.item-menu{:class => ('active' if current_page?(Sight))}  
          = link_to t('sight'), Sight
        -#
          %ul.sub-menu.sight
            %li{:class => I18n.locale}= link_to t('ir-tours'), Sight
            %li{:class => I18n.locale}= link_to t('ir-cities'), Sight
            %li{:class => I18n.locale}= link_to t('investment-in-iran'), InvestmentInIran
      %li#tour.item-menu{:class => ('active' if current_page?(Tour))}  
        .icon#tours
        = link_to  t('tour.tours'), tours_path
        
        %ul.sub-menu.tour          
          %li{:class => I18n.locale}
            = link_to t('local-tour'), iran_tour_tours_path
          %li{:class => I18n.locale}
            = link_to t('foreign-tour'), Tour
          
          
      %li#hotel.item-menu{:class => ('active' if current_page?(Hotel))}
        .icon#hotels
        = link_to  t('hotel'), Hotel        
        %ul.sub-menu.tour          
          %li{:class => I18n.locale}
            = link_to t('local-hotels')
          %li{:class => I18n.locale}
            = link_to t('foreign-hotels')
          
        
    .col-xs-4.pull-left.menu-side 
      %li.item-menu{:class => ('active' if current_page?(Country))}
        .icon#country
        = link_to  t('tour-country'),Country 
      %li.item-menu{:class => ('active' if current_page?(Visa))}
        .icon#visa
        = link_to  t('visa'),Visa        
        %ul.sub-menu.visa{:style => "width:200px;"}          
          - VisaType.order("order_set asc").each do |visatype|
            %li{:class => I18n.locale}
              = link_to visatype.title, visatype
          %li{:class => I18n.locale}= link_to t('visa-app'), new_visa_form_path
          
      - @about_us = Page.find_by_title_fa('درباره ما')
      - @contact_us = Page.find_by_title_fa('تماس با ما')
      - @rezume = Page.find_by_title_fa('رزومه کاری')
      - if @about_us.present?
        %li.item-menu.about-didar{:class => ('active' if current_page?(@about_us))} 
          .icon{:id => 'page'+ @about_us.id.to_s}
          = link_to  @about_us.title, @about_us
          %ul.sub-menu.about-us          
            %li{:class => I18n.locale}
              = link_to t('didar-boigraphy'), @about_us
            %li{:class => I18n.locale}
              = link_to t('contact-us'), @contact_us
            %li{:class => I18n.locale}
              = link_to t('rezume'), @rezume
            %li{:class => I18n.locale}
              = link_to t('hire-form'), new_employment_path
              
        
