.col-xs-12.middle-box.avoid-this
  .col-xs-12.tour-slide{ :style => " overflow:hidden; padding:0"}    
    
    .slider4{:class => I18n.locale}
      .col-xs-4
        #news{:class => I18n.locale}
          .title-tour.set-center{:class => I18n.locale}= link_to t('news_and_vents'), NewsAndVent
          .col-xs-12.news          
            %ul.news_and_vents{:class => I18n.locale}
              - NewsAndVent.order('created_at desc').each do |news|              
                %li.news-item{:class => I18n.locale}
                  - if news.web_link.present?                    
                    = link_to news.title, url_with_protocol(news.web_link), :target => "_blank"
                  - else
                    = link_to news.title, news
        .col-xs-6#time-zone      
          .col-xs-12.calendar
            #datepicker7
        .col-xs-6.cal-weather.pull-right#responsive480hideweather
          .scrollable.vertical
            #test.items
            .navi
        
      .col-xs-6      
        .col-xs-4.title-tour.set-center{:class => I18n.locale}= t('foreign-tour')
        = render 'shared/multi_tour_slider'
        
         
        .col-xs-12
          .col-xs-4.title-tour.set-center{:class => I18n.locale}= t('local-tour')
          = render 'shared/multi_iran_tour_slider'
         
      .col-xs-2#hyper-icons
        .col-xs-12
          = link_to DirivingLicense.find(4), :target => "_blank" ,"data-toggle" => "tooltip", "data-placement" => "bottom", "title" => t('transit') do
            = image_tag 'international-train.png', :alt => t('transit'), :width => "210"
        .col-xs-12
          = link_to url_with_protocol('mashhad.airport.ir'), :target => "_blank" ,"data-toggle" => "tooltip", "data-placement" => "bottom", "title" => "Mashhad Airport" do
            = image_tag 'mashhad-airplane.png', :alt => "mashhad airport", :width => "210"
        .col-xs-12
          = link_to url_with_protocol('mehrabad.airport.ir'), :target => "_blank" ,"data-toggle" => "tooltip", "data-placement" => "bottom", "title" => "Mehrabad Airport" do
            = image_tag 'mehrabad-airport.png', :alt => "mehrabad airport", :width => "210"
   
        .col-xs-12
          = link_to url_with_protocol('www.rai.ir'), :target => "_blank" ,"data-toggle" => "tooltip", "data-placement" => "bottom", "title" => "Iran Railway" do
            = image_tag 'iran-rail.png', :alt => "Iran Railway", :width => "210"
   
        .col-xs-12
          = link_to url_with_protocol('www.raja.ir'), :target => "_blank" ,"data-toggle" => "tooltip", "data-placement" => "bottom", "title" => "Raja Rail" do
            = image_tag 'raja.png', :alt => "Raja Rail", :width => "210"
        .col-xs-12{:style => "text-align:center"}
          = link_to time_zone_clocks_countries_path, :target => "_blank"  do            
            = image_tag 'time-zone.png', :width => "80", :style => "width:80px"
            .col-xs-12{:style => "padding:0", :class => I18n.locale}
              =  t('time-zone-title')
  
  .col-xs-12.boxes-show
    
    
    #responsive480showweather.col-xs-6.cal-weather.pull-right  
      .scrollable.vertical
        #test2.items
        .navi
    
    .col-xs-12#responsive768hide{:style => "padding:0"}
      .col-xs-2#driving-certificate-link{:class => I18n.locale}
        - if current_page?('/')
          -#
            .national-certificate
              = link_to DirivingLicense.first  do
                .col-xs-12{:style => "padding:0", :class => I18n.locale}
                  = image_tag 'driving.png', :width => "50"
                .col-xs-12{:style => "padding:0", :class => I18n.locale}                
                  = t('national-certificate')   
          
      
        
      .col-xs-2#time-zone-link
        - if current_page?('/')
          -#
            
                  
      .plane-company{:class => I18n.locale}
        = render "shared/plane_scroll"
        
    #responsive768show
      .col-xs-7
        - if current_page?('/')
          -#
            .national-certificate
              .col-xs-2{:style => "padding:0", :class => I18n.locale}
                = image_tag 'driving.png', :width => "50"
              .col-xs-8{:style => "padding:0", :class => I18n.locale}
                %h4.title-certificate{:class => I18n.locale}= t('national-certificate')   
          -#
            .title-time-zone
              .col-xs-2.pull-right{:style => "padding:0", :class => I18n.locale}
                = image_tag 'time-zone.png', :width => "50"
              .col-xs-8{:style => "padding:0", :class => I18n.locale}
                = link_to 'اختلاف ساعت کشورها', time_zone_clocks_countries_path, :target => "_blank"      
      .plane-company.col-xs-12
        %marquee.col-xs-12{:onmouseout => "this.start();", :onmouseover => "this.stop();",  :behavior => "slide", :style => "float:right"}
          - Plane.all.each do |plane|
            .plane-logo{"data-toggle" => "tooltip", "data-placement" => "bottom", :title => plane.title}
              = link_to url_with_protocol(plane.web_site), :target => "_blank" do
                = image_tag plane.logo(:icon)  
        
    .footer.col-xs-12 
      = render 'shared/footer'  
  

