.col-xs-12.middle-box
  .col-xs-12
    .col-xs-6{:style => "padding:0; overflow:hidden"}
      .title-tour.set-center{:class => I18n.locale}= t('foreign-tour')
      .slider4
        - Country.all.each do |country|
          - unless country.title_fa == 'ایران'
            - if country.tours.present?
              - @first_tour = country.tours.first            
              .slide
                %p.tour-title{:class => I18n.locale}= @first_tour.title
                - if @first_tour.photos.present?
                  = link_to (image_tag @first_tour.photos.first.image(:medium), :class => "img-responsive"), @first_tour, :class => 'item-package', :title => "آژانس_هواپیمایی_دیدار"
                
                = render "/tours/show_persian_date", :tour => @first_tour
                
                .more-info
                  = link_to  @first_tour do 
                    %i= t('more-info')
                    %span.see-more-arrow
                -if is_admin?
                  .admin-btn-tour
                    = link_to 'ویرایش تور', edit_tour_path(@first_tour), :class => "btn btn-info"
                    = link_to 'مشاهده تور', @first_tour, :class => "btn btn-warning"                   
                    = link_to 'حذف تور', @first_tour, :method => :delete, :data => { :confirm => 'آیا می خواهید این تور را حذف کنید؟' }, :class => "btn btn-danger"
    .col-xs-6{:style => "padding:0"}
      .title-tour.set-center{:class => I18n.locale}= t('local-tour')
      .slider4        
        - Country.all.each do |country|
          - if country.title_fa == 'ایران' && country.tours.present?            
            - country.tours.each do |iran_tour|
              .slide
                %p.tour-title{:class => I18n.locale}= iran_tour.title
                - if iran_tour.photos.present?
                  = link_to (image_tag iran_tour.photos.first.image(:medium), :class => "img-responsive"), iran_tour, :class => 'item-package', :title => "آژانس_هواپیمایی_دیدار"
            
                = render "/tours/show_persian_date", :tour => iran_tour
              
                .more-info
                  = link_to  iran_tour do 
                    %i= t('more-info')
                    %span.see-more-arrow
                -if is_admin?
                  .admin-btn-tour
                    = link_to 'ویرایش تور', edit_tour_path(iran_tour), :class => "btn btn-info"
                    = link_to 'مشاهده تور', iran_tour, :class => "btn btn-warning"                   
                    = link_to 'حذف تور', iran_tour, :method => :delete, :data => { :confirm => 'آیا می خواهید این تور را حذف کنید؟' }, :class => "btn btn-danger"
  .col-xs-12{:style => "padding:0;"}  
    .col-xs-6#news
      .title-tour.set-center{:class => I18n.locale}= link_to t('news_and_vents'), NewsAndVent
      -#
        %marquee.col-xs-12.news{:onmouseout => "this.start();", :onmouseover => "this.stop();", :direction => "up"}
      .col-xs-12.news
        %ul.news_and_vents{:class => I18n.locale}
          - NewsAndVent.order('created_at').each do |news|
            %li.news-item{:class => I18n.locale}= link_to news.title, news
      
      
    .col-xs-6.cal-weather
      .col-xs-6.pull-right
        .scrollable.vertical
          #test.items
          .navi
      .col-xs-6#time-zone
        .col-xs-12.calendar
          #datepicker7
        .col-xs-12
          .col-xs-6= image_tag 'watch.png'
          .col-xs-6= image_tag 'watch.png'
  .col-xs-12.clear-float
    .plane-company
      %marquee{:onmouseout => "this.start();", :onmouseover => "this.stop();",  :behavior => "alternate"}
        - Plane.all.each do |plane|
          .plane-logo{"data-toggle" => "tooltip", "data-placement" => "bottom", :title => plane.title}
            = link_to url_with_protocol(plane.web_site), :target => "_blank" do
              = image_tag plane.logo(:icon)  
    
      -#
        #search
          = form_tag "http://google.com/search", method: "get",  :target=> "_blank", :class => "contact-form", :id => "contact-form" do
            .search_on_google
              .google-field= text_field_tag :q, '', placeholder: 'جستجو در گوگل',  :class => I18n.locale
              .google-submit
                =image_submit_tag 'search.png', :name => "sa",  :class => I18n.locale
  -#
    .multi-slider-package.col-xs-12    
      .col-md-12.col-md-offset-3{:style => "height:100%;"}
        #myCarousel1.carousel.slide{"data-interval" => "3000", "data-ride" => "carousel", "data-type" => "multi"}
          .carousel-inner#package-tour1 
            - Country.all.each do |country|
              - unless country.title_fa == 'ایران'
                - if country.tours.present?
                  - @first_tour = country.tours.first
                  .item
                    .col-xs-4.col-sm-4.col-xs-12.tour-item{:id => @first_tour.id.to_s}
                      .tour-hover                    
                        %p.tour-title{:class => I18n.locale}= @first_tour.title
                        - if I18n.locale == :fa
                          = render "/tours/show_persian_date", :tour => @first_tour
                        - else  
                          = render "/tours/show_english_date", :tour => @first_tour
                      - if @first_tour.photos.present?
                        = link_to (image_tag @first_tour.photos.first.image(:medium), :class => "img-responsive"), @first_tour, :class => 'item-package', :title => "آژانس_هواپیمایی_رادان_سیر"
                      .more-info= t('more-info')
                      
                      
           
        = link_to  "#myCarousel1" , :class => "left carousel-control", "data-slide" => "prev", :title => "آژانس_هواپیمایی_رادان_سیر"  do  
          = image_tag 'prev.png'
        = link_to  "#myCarousel1", :class => "right carousel-control", "data-slide" => "next", :title => "آژانس_هواپیمایی_رادان_سیر"  do           
          = image_tag 'next.png'
