.col-xs-12.middle-box.avoid-this
  .col-xs-12.tour-slide{ :style => " overflow:hidden; padding:0"}    
    
    .slider4{:class => I18n.locale}
      .col-xs-4
        #news{:class => I18n.locale}
          .title-tour.set-center{:class => I18n.locale}= link_to t('news_and_vents'), NewsAndVent
          .col-xs-12.news          
            %ul.news_and_vents{:class => I18n.locale}
              - NewsAndVent.order('created_at desc').each do |news|              
                %li.news-item{:class => I18n.locale}
                  - if news.web_link.present?                    
                    = link_to news.title, url_with_protocol(news.web_link), :target => "_blank"
                  - else
                    = link_to news.title, news
        .col-xs-6#time-zone      
          .col-xs-12.calendar
            #datepicker7
        .col-xs-6.cal-weather.pull-right#responsive480hideweather
          .scrollable.vertical
            #test.items
            .navi
        
      .col-xs-6      
        .col-xs-4.title-tour.set-center{:class => I18n.locale}= t('foreign-tour')
        = render 'shared/multi_tour_slider'
        
         
        .col-xs-12
          .col-xs-4.title-tour.set-center{:class => I18n.locale}= t('local-tour')
          = render 'shared/multi_iran_tour_slider'
          -#
            .hamyar_slider2
              %ul
                - Country.all.each do |country|
                  - if country.title_fa == 'ایران'
                    - if country.tours.present?
                      - country.tours.limit(5).order("created_at asc").each do |tour|
                      - @first_tour = country.tours.first
                        %li.slide{:id => "foriegn_tours_id_" + tour.id.to_s}                
                          %p.tour-title{:class => I18n.locale}= tour.title
                          - if tour.photos.present?
                            = link_to (image_tag tour.photos.first.image(:medium), :class => "img-responsive"), tour, :class => 'item-package', :title => "آژانس_هواپیمایی_دیدار"
                          
                          .date{:class => I18n.locale}= render "/tours/show_persian_date", :tour => tour
                          
                          .more-info{:class => I18n.locale}
                            = link_to  tour do 
                              %i.see-more-arrow= t('more-info')
                              
                          -if is_admin?
                            .admin-btn-tour
                              = link_to 'ویرایش تور', edit_tour_path(tour), :class => "btn btn-info"
                              = link_to 'مشاهده تور', tour, :class => "btn btn-warning"                   
                              = link_to 'حذف تور', tour, :method => :delete, :data => { :confirm => 'آیا می خواهید این تور را حذف کنید؟' }, :class => "btn btn-danger"
            .icon-arrow-left2
            .icon-arrow-right2 
      .col-xs-2#hyper-icons
   
  
  .col-xs-12.boxes-show
    
    
    #responsive480showweather.col-xs-6.cal-weather.pull-right  
      .scrollable.vertical
        #test2.items
        .navi
    
    .col-xs-12#responsive768hide{:style => "padding:0"}
      .col-xs-2#driving-certificate-link{:class => I18n.locale}
        - if current_page?('/')
          -#
            .national-certificate
              = link_to DirivingLicense.first  do
                .col-xs-12{:style => "padding:0", :class => I18n.locale}
                  = image_tag 'driving.png', :width => "50"
                .col-xs-12{:style => "padding:0", :class => I18n.locale}                
                  = t('national-certificate')   
          
      
        
      .col-xs-2#time-zone-link
        - if current_page?('/')
          -#
            .title-time-zone
              = link_to time_zone_clocks_countries_path, :target => "_blank"  do
                .col-xs-12.pull-right{:style => "padding:0", :class => I18n.locale}
                  = image_tag 'time-zone.png', :width => "50"
                .col-xs-12{:style => "padding:0", :class => I18n.locale}
                  =  t('time-zone-title')
                  
      .plane-company.col-xs-12{:class => I18n.locale}
        = render "shared/plane_scroll"
        
    #responsive768show
      .col-xs-7
        - if current_page?('/')
          -#
            .national-certificate
              .col-xs-2{:style => "padding:0", :class => I18n.locale}
                = image_tag 'driving.png', :width => "50"
              .col-xs-8{:style => "padding:0", :class => I18n.locale}
                %h4.title-certificate{:class => I18n.locale}= t('national-certificate')   
          -#
            .title-time-zone
              .col-xs-2.pull-right{:style => "padding:0", :class => I18n.locale}
                = image_tag 'time-zone.png', :width => "50"
              .col-xs-8{:style => "padding:0", :class => I18n.locale}
                = link_to 'اختلاف ساعت کشورها', time_zone_clocks_countries_path, :target => "_blank"      
      .plane-company.col-xs-12
        %marquee.col-xs-12{:onmouseout => "this.start();", :onmouseover => "this.stop();",  :behavior => "slide", :style => "float:right"}
          - Plane.all.each do |plane|
            .plane-logo{"data-toggle" => "tooltip", "data-placement" => "bottom", :title => plane.title}
              = link_to url_with_protocol(plane.web_site), :target => "_blank" do
                = image_tag plane.logo(:icon)  
        
    .footer.col-xs-12 
      = render 'shared/footer'  
  

