.newsletter
  = form_for @customer ||= Customer.new, id: "newsletter_form" do |f| 
    - if  @customer.present? && @customer.errors.any?      
      .alert.alert-danger{:role => "alert"}
        %ul
          - @customer.errors.each do |attr, msg|
            %li= msg
    - if flash[:Ncustomer].present?
      .alert.alert-success
        = flash[:Ncustomer]
    - if flash[:Ecustomer].present?
      .alert.alert-danger
        = flash[:Ncustomer]
    - elsif flash[:emailexist].present?
      .alert.alert-danger= flash[:emailexist]
    .col-xs-4= image_tag 'travel.png', :width => "40", :height => "40"
    .col-xs-8{:style => "text-align:center", :class => I18n.locale}
      = f.submit t('newsletter.submit') , :id => "newsletter-submit" , :class => "form-submit"
    .col-xs-12.form-group      
      = f.text_field :name, :placeholder => t('newsletter.name'),   :id => "newsletter_name", :class => " form-msg form-control", :required => ""
      = f.text_field :phone, :placeholder => t('newsletter.phone'),   :id => "newsletter_phone", :class => " form-msg form-control", :required => ""
      = f.text_field :contact_phone, :placeholder => t('newsletter.contact-phone'),   :id => "newsletter_phone", :class => " form-msg form-control", :required => ""
      = f.email_field :email, :placeholder => t('newsletter_email'),   :id => "newsletter_email", :class => " form-msg form-control", :required => ""
