.margin3  
  
  -if is_admin?
    = link_to 'افزودن خبر', new_news_and_vent_path, :class => "btn btn-success"
  .col-xs-12.margin-bottom#news
    .title-tour-line.col-xs-10
    %p.col-xs-12.set-center.title-tour#title-news{:class => I18n.locale}= t('news_and_vents')
  %table.table.city
    %tr
      %th ردیف
      %th عنوان خبر 
      %th منبا
      - if is_admin?
        %th عملیات


    - @news_and_vents.each_with_index do |news_and_vent, i|
      %tr
        %td= (i+1)
        %td
          = link_to news_and_vent.title,news_and_vent
        %td= news_and_vent.source
        - if is_admin?
          %td        
            = link_to 'مشاهده', news_and_vent, :class => "btn btn-warning"
            = link_to 'ویرایش', edit_news_and_vent_path(news_and_vent), :class => "btn btn-info"
            = link_to 'حذف', news_and_vent, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => "btn btn-danger"


