.newsletter{:class => I18n.locale} 
  = form_for @customer do |f|
    - if @customer.errors.any?
      .alert.alert-danger{:role => "alert"}
        %ul
          - @customer.errors.each do |attr, msg|
            %li= msg
  
    .col-xs-12
      .form-group
        = f.label t('newsletter.name'), :class => "control-label"
        = f.text_field :name, :class => "form-control", :id => "newsletter_name", :required => ""
      .form-group
        = f.label t('newsletter.email'), :class => "control-label"
        = f.email_field :email, :class => "form-control", :id => "newsletter_email", :required => ""
      .form-group
        = f.label t('newsletter.phone'), :class => "control-label"
        = f.number_field :phone, :class => "form-control", :id => "newsletter_phone", :required => ""
      
      .form-group
        = f.submit t('newsletter.submit'), :class => "btn btn-danger", :id => "newsletter_submit"


