- if tour.validate_date_from.present? && tour.validate_date_until.present?
  %p{:class => I18n.locale}
    %span= tour.validate_date_from.to_s
    %span= ' تا '
    %span= tour.validate_date_until.to_s
- elsif tour.validate_date_from.present?  
  %span= ' از '
  %span{:class => I18n.locale}= tour.validate_date_from 
  
- elsif   tour.validate_date_until.present?
  %span= ' تا '
  %span{:class => I18n.locale}= tour.validate_date_until
  
  
.clear-float
