= nested_form_for @visa_form, :html => { :multipart => true  } do |f|
  - if @visa_form.errors.any?
    #error_explanation      
      %ul
        - @visa_form.errors.each do |attr, msg|
          %li= msg

  .col-xs-12 
    -#
      .form-group
        %p{:class => I18n.locale}= t('iran-visa-put-info')
        %p{ :style=> "color:#ec523f", :class => I18n.locale}= t('iran-visa-limit-persons')
        = f.link_to_add content_tag(:span, t('passenger.add-person'), :class => "btn btn-info btn-lg" ), :passengers, :id => "add_new_picture"
    %h4{:class => I18n.locale}= 'مشخصات میزبان:'  
    .col-xs-12.well 
      = f.fields_for :hosts do |host|
        = render "hosts/upload_host_form", :f => host
    %h4{:class => I18n.locale}= 'مشخصات میهمان:'  
    .col-xs-12.well
      = f.fields_for :passengers do |passenger|          
        = render "passengers/upload_passenger_form", :f => passenger
  -#
    .col-xs-12.form-group 
      %p Arrival and Departure Information (If you don't have your tickets yet, just fill out the date of your arrival and departure.)
    .col-xs-12.well   
      .col-xs-2.en
        %p.en Incoming Flight to Tehran from International Location:
      .col-xs-10
        .form-group.col-xs-3
          = f.label :Departure_Airport, :class => "control-label" 
          = f.text_field :Incoming_Flight_Departure_Airport, :class => "form-control"
        .form-group.col-xs-3
          = f.label :Flight_No, :class => "control-label" 
          = f.text_field :Incoming_Flight_No, :class => "form-control"
        .form-group.col-xs-3
          = f.label :Arrival_date, :class => "control-label" 
          = f.text_field :Arrival_date, :class => "form-control"
        .form-group.col-xs-3
          = f.label :Arrival_City, :class => "control-label" 
          = f.text_field :Arrival_City, :class => "form-control"
    .col-xs-12.well   
      .col-xs-2.en
        %p.en Outgoing Flight to International Destination:
      .col-xs-10
        .form-group.col-xs-3
          = f.label :Destination , :class => "control-label" 
          = f.text_field :Outgoing_Fligh_Destination, :class => "form-control"
        .form-group.col-xs-3
          = f.label :Flight_No, :class => "control-label" 
          = f.text_field :Outgoing_Flight_No, :class => "form-control"
        .form-group.col-xs-3
          = f.label :Departure_date, :class => "control-label" 
          = f.text_field :Departure_date, :class => "form-control"
        .form-group.col-xs-3
          = f.label :Departure_City, :class => "control-label" 
          = f.text_field :Departure_City, :class => "form-control"
    
  .col-xs-12.form-group 
    #agree_text{:class => I18n.locale}
      .form-group.col-xs-3
        = f.label 'اینجانب', :class => "control-label col-xs-3" 
        = f.text_field :einjaneb_form, :class => "form-control col-xs-3"
      .col-xs-9{:class => I18n.locale}= 'متقاضي درخواست رواديد متعهد مي شوم نامبرده در طول مدت اقامت در ايران مسائل اخلاقي و شئونات اسلامي و قوانين و مقررات جمهوري اسلامي را رعايت نموده و مطالب فوق را به دقت و صداقت تكميل شده و مسئوليت هرگونه اشتباه به عهده اينجانب مي باشد . '
        

    .form-group.col-xs-12.well#agree
      = f.check_box :I_agree, :id => "check_box_iagree"
      = f.label 'می پذیرم', :class => "control-label" 
  .col-xs-12{:class => I18n.locale}
    %h3#Commitment= t('Commitment')
    #Commitment_form{:class => I18n.locale}
      %span.col-xs-1 بدينوسيله
      .form-group.col-xs-2
        = f.label ' اینجانب', :class => "control-label col-xs-3"
        = f.text_field :commitment_full_name, :class => "form-control col-xs-3"
      .col-xs-2
        = f.label ' جنسیت', :class => "control-label col-xs-12" 
        .col-xs-3{:style => "padding:0"}
          .col-xs-6= f.label 'مذکر', :class => "control-label" 
          .col-xs-6= f.radio_button :commitment_gender, 'male'
        .col-xs-3{:style => "padding:0"}
          .col-xs-6= f.label 'مونث', :class => "control-label" 
          .col-xs-6= f.radio_button :commitment_gender, 'female'
      .form-group.col-xs-2
        = f.label ' فرزند', :class => "control-label col-xs-3" 
        = f.text_field :commitment_father_name, :class => "form-control col-xs-3"
      .form-group.col-xs-2
        = f.label ' شماره شناسنامه', :class => "control-label "
        = f.text_field :commitment_id_shenasname, :class => "form-control col-xs-3"
      .form-group.col-xs-3
        = f.label ' ساکن', :class => "control-label col-xs-3"
        = f.text_area :commitment_residence_add, :class => "form-control col-xs-3"
      %p{:class => I18n.locale}
        گواهي مي دهم نامبردگان ذيل كه به دعوت دفتر خدمات مسافرتي ديدار به ايران سفر خواهند كرد به درخواست اينجانب دعوت مي شوند و متعهد مي شوم دعوت شدگان پس از پايان مدت ويزاي خود در زمان مقرر از ايران خارج شوند و هيچگونه مشكلي براي دفتر خدماتي مسافرتي ديدار بوجود نياورد و اينجانب مسئوليت برگشت آنها را قبول مي كنم و در صورت بروز مشكل جوابگوي خسارت احتمالي به اين دفتر مي باشم. ضمناً متعهد مي شوم كه پس از خروج مسافر از ايران كپي مهر خروج مسافر را در اولين فرصت به دفتر خدمات مسافرتي ديدار تحويل نمايم.
      .form-group.col-xs-8
        = f.label 'لیست افراد دعوت شده را وارد کنید', :class => "control-label" 
        .editor
          = f.text_area :guest_names, :class => "ckeditor"
  .form-group.col-xs-12 
    = f.submit t('passenger.save-visa-form'), :class => "btn btn-primary", :id => "save-visa-form"

  
