.margin3.margin-bottom
  .col-xs-12.margin-bottom
    .title-tour-line.col-xs-10
    %p.col-xs-12.set-center.title-tour#visa-form{:class => I18n.locale}= t('visa-request')


  %table.table#visa_form{:class => I18n.locale, "data-toggle"=>"table"}
    %tr.first-row
      %th= t('passenger.row')
      %th= t('passenger.request-code')
      %th= 'نام و نام خانوادگی میزبان'
      %th= 'تاریخ ثبت درخواست'
      
      %th
      - if is_admin?
        %th

    - @visa_forms.each_with_index do |visa_form, i|
      %tr.visa-forms-list{:class => ('visited' if visa_form.admin_visited)}
        %td= (i+1)
        %td.en{:style => "text-align:center"}= visa_form.request_code
        %td
          - visa_form.hosts.each do |host|
            = host.name + ' ' + host.last_name
        %td= JalaliDate.new(visa_form.created_at).strftime("%A %e %b %Y")          
        
      
        - if is_admin?
          %td            
            = link_to 'مشاهده', visa_form, :class => "btn btn-warning"
            = link_to 'حذف', visa_form, :method => :delete, :data => { :confirm => 'آیا مطمئن هستید؟' }, :class => "btn btn-danger"

