.margin3 
  - if is_admin?
    .col-xs-12
      = link_to 'ویرایش گروه ویزا', edit_visa_type_path(@visa_type), :class => "btn btn-info" 
      = link_to 'تعریف ویزا جدید', new_visa_path, :class => "btn btn-success"
  .col-xs-12.margin-bottom5
    
    %p.col-xs-10.set-center.title-visa{:class => I18n.locale}= @visa_type.title
    .title-tour-red-line.col-xs-10{:class => I18n.locale}
  - if I18n.locale == :en
    .col-xs-3.pull-left{:style => "text-align:center; margin-bottom:4%; position:relative", "data-option-key" => "filter"}     
      #visa_bg_image= image_tag 'visa_bg.jpg'    
      #visa_type_lists  
    
        - VisaType.order("id asc").each do |vistatype| 
          .continent.tour-group{:class => ('active' if vistatype.id == @visa_type.id)}
            %span.location.col-xs-1.pull-right= image_tag 'arrow-bullet-left.png'
            %h4.en.country-title-tab.col-xs-10
              = link_to vistatype.title, vistatype
    - if @visa_type.text.present?
      .col-xs-9.visa-text.well{:class => I18n.locale}= raw @visa_type.text
    - if @visa_type.visas.present?
      .show-tours.col-xs-9.set-center#Container
        - @visa_type.visas.each do |visa| 
          .visas-index.col-xs-4{ "data-my-order" => visa.id}        
            
            = link_to visa, :class => "visa-box" do 
              - if visa.flag_image.present?
                %span.col-xs-3.pull-right= image_tag visa.flag_image(:icon)
              - else
                %span.col-xs-3.pull-right=  image_tag visa.country.country_flag(:small)
              %h5.visa-title.col-xs-10{:class => I18n.locale}= visa.title
              -#
                - if @country_tour.photos.present?
                  .tour-sample-image{:class => ('set-coming-soon' if @country_tour.coming_soon?)}= image_tag @country_tour.photos.first.image(:medium), :id => "tour-sample-image-" + @country_tour.photos.first.id.to_s
              .clear-float
            
            -if is_admin?
              .admin-btn-tour#visa-admin
                = link_to 'ویرایش تور', edit_visa_path(visa), :class => "btn btn-info"
                = link_to 'مشاهده جزئیات', visa, :class => "btn btn-warning"                   
                = link_to 'حذف تور', visa, :method => :delete, :data => { :confirm => 'آیا می خواهید این تور را حذف کنید؟' }, :class => "btn btn-danger"
    - else
      %p= image_tag 'coming.png'
              
  - else
    .col-xs-3.pull-right{:style => "text-align:center; margin-bottom:4%; position:relative"} 
      #visa_bg_image= image_tag 'visa_bg.jpg'    
      #visa_type_lists    
        - VisaType.order("id asc").each do |vistatype| 
          = link_to vistatype do
            .continent.tour-group{:class => ('active' if vistatype.id == @visa_type.id)}
              %span.location.col-xs-1= image_tag 'arrow-bullet-right.png'
              %h4.fa.country-title-tab.col-xs-10{:class =>  I18n.locale}= vistatype.title
    - if @visa_type.text.present?
      .col-xs-9.visa-text.well{:class => I18n.locale}= raw @visa_type.text
    - if @visa_type.visas.present? || @visa_type.text.present?
      .show-tours.col-xs-9.set-center#Container
        - @visa_type.visas.each do |visa| 
          .visas-index.col-xs-4.pull-right{ "data-my-order" => visa.id} 
            
            = link_to visa, :class => "visa-box" do 
              - if visa.flag_image.present?
                %span.col-xs-3.pull-right= image_tag visa.flag_image(:icon)
              - else
                %span.col-xs-3.pull-right=  image_tag visa.country.country_flag(:small)
              %h5.visa-title.col-xs-9{:class => I18n.locale}= visa.title
              
              .clear-float
            
            -if is_admin?
              .admin-btn-tour#visa-admin
                = link_to 'ویرایش تور', edit_visa_path(visa), :class => "btn btn-info"
                = link_to 'مشاهده جزئیات', visa, :class => "btn btn-warning"                   
                = link_to 'حذف تور', visa, :method => :delete, :data => { :confirm => 'آیا می خواهید این تور را حذف کنید؟' }, :class => "btn btn-danger"
              
    - else
      %p= image_tag 'coming.png'
