!!!
/ Microdata markup added by Google Structured Data Markup Helper.
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "content-type"}
    %meta{:charset => "utf-8"}    
    %title= 'آژانس مسافرتی، جهانگردی،زیارتی دیدار'
    = stylesheet_link_tag    'application', media: 'all'  
    = stylesheet_link_tag    'responsive', media: 'all'  
    = stylesheet_link_tag    'print', media: 'print', type: "text/css"  
    = javascript_include_tag 'application'   
    
    %meta{:name => "keywords", :content =>   "آژانس هواپیمایی دیدار, دیدار, سفر, مسافرت, ویزا,  تورهای لحظه ای, تورهای خارجی"}
    %meta{:name => "robots", :content => "Index,follow"}
    %meta{:name => "googlebot", :content => "archive"}
    %meta{:name => "slurp", :content => "Index,follow"}
    %meta{:name => "msnbot", :content => "Index,follow"}
    %meta{:name => "teoma", :content => "Index,follow"}        
    %meta{content: "no", "http-equiv" => "imagetoolbar"}
    %meta{:content => "گروه مهندسین راش", :name => "author"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "true", :name => "HandheldFriendly"}/
    %meta{:content => "width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no", :name => "viewport"}/
    = csrf_meta_tags
    = yield(:refresh_meta) if content_for?(:refresh_meta)
    = favicon_link_tag 'favicon.png', rel:'shortcut icon', type: 'image/png'

  %body
    .main{:class => I18n.locale}
      .main-menu.col-xs-12.avoid-this
        
        .top-of-menu.col-xs-12#responsive480hidemenu.avoid-this
          - if I18n.locale == :en
            .col-xs-4.pull-left
              .col-xs-3.pull-left{:style => "padding:0"}
                %h1.site-title{:class => I18n.locale}= t("didar_name")
              
              .col-xs-9.agency-name.pull-left{:style => "padding:0", :class => I18n.locale}
                %p.site-title{:class => I18n.locale}= t("didartravel-part2")
            -#
              .col-xs-4.pull-left
                .col-xs-12.pull-left{:style => "padding:0"}
                  %p.site-title{:class => I18n.locale}= t("didartravel")
            .col-xs-4.pull-left
              .col-xs-12.menu-side.logo-side
            
          - else
            .col-xs-4.pull-right{:style => "margin-top:-5px"}
              .col-xs-4.pull-right{:style => "padding:0"}
                %h1.site-title{:class => I18n.locale}= t("didar_name")
              
              .col-xs-8.agency-name.pull-left{:style => "padding:0"}
                %p.site-title{:class => I18n.locale}= t("didartravel-part2")
            .col-xs-4.pull-right
              .col-xs-12.menu-side.logo-side
          .col-xs-4{:class => I18n.locale}
            .flag_bar
              .col-xs-4{:class => ('pull-right' if I18n.locale == :en)}
                = image_tag 'iata.png', :width => "100"
              .col-xs-7
                = link_to (image_tag 'flag/en_sm.png'), root_path(locale: :en), {"data-toggle" => "tooltip", "data-placement" => "bottom", :title => 'English'}
                = link_to (image_tag 'flag/ir_sm.png'), root_path(locale: :fa),{"data-toggle" => "tooltip", "data-placement" => "bottom", :title => 'فارسی'}
                = link_to (image_tag 'flag/ar_sm.png'), root_path(locale: :ar), {"data-toggle" => "tooltip", "data-placement" => "bottom", :title => 'العربية'}
              
        #responsive480showmenu.top-of-menu.col-xs-12.avoid-this
          .col-xs-12  
            = image_tag 'didarlogowhite.png', :width => '100'
            %p.site-title{:class => I18n.locale}= t("didartravel")
            .flag_bar
              = link_to (image_tag 'flag/en_sm.png'), '#', {"data-toggle" => "tooltip", "data-placement" => "bottom", :title => 'English'}
              = link_to (image_tag 'flag/ir_sm.png'), '#',{"data-toggle" => "tooltip", "data-placement" => "bottom", :title => 'فارسی'}
              = link_to (image_tag 'flag/ar_sm.png'), '#', {"data-toggle" => "tooltip", "data-placement" => "bottom", :title => 'العربية'}
            
          

          
        .col-xs-12.logo-center.avoid-this{:class => I18n.locale}
          - if I18n.locale == :en
            = render 'shared/menu_bar_en'
          - else
            = render 'shared/menu_bar'
        
        .bottom-of-menu.col-xs-12.avoid-this
          
        
      - if @page_slides.present?
        .avoid-this= render "slides/slider", :slides => @page_slides
      - elsif @other_slides.present?
        .avoid-this= render "slides/slider", :slides => @other_slides
      - else
        .avoid-this= render "slides/slider", :slides => Slide.all      
      
      .col-xs-12.bottom-slider.avoid-this
        
     
      
      - if current_page?('/') 
        = render 'shared/multislider_news_weather', :tours => Tour.all      
        
      - if current_page?(Sight) 
        = render 'sights/five_sight_icon'
      - if params[:controller] == 'hotels'
        = render 'shared/multi_slider_hotel'
      
      
      = link_to '', '#', :name => "#top", :id => "page-top"
      .yield.clear-float{:class => I18n.locale}
        = link_to '', '#', :name => "yield", :id => "yieldAnchor"
        = yield
      
     
      .col-xs-12.footer-bottom.avoid-this{:style => ('margin-top: 0;' if current_page?('/') )}
        
        .clear-float  
        #responsive767show-footer-links
          =render 'shared/responsive767show_footer_links'
        #responsive767hide-footer-links
          .col-xs-3.sitevisit
            .col-xs-12#newsletter
              %h4.title-footer-form.contact#newsletter-title{:class => I18n.locale}= t('subscribe_to_newsletter')
              = render 'shared/newsletter_subscribe'
            .clear-float
            .col-xs-12.visits
              %h4.title-footer-form.contact#visits-title{:class => I18n.locale}= t('sitevisit.statistics')          
              .col-xs-11
                %p{:class => I18n.locale}
                  %b= t('sitevisit.total-views')
                  =  Visit.all.count
                %p{:class => I18n.locale}
                  %b= t('sitevisit.visits-today')
                  =  @online_day
                %p{:class => I18n.locale}
                  %b= t('sitevisit.online-number')
                  = @online_now    
            
          .col-xs-9
            .col-xs-8.avoid-this
              = render 'shared/footer_menu'              
              .keywords.col-xs-12
                %p{:class => I18n.locale}= t('Keywords.title')
                %ul{:class => I18n.locale}
                  %li
                    = link_to t('didartravel'), '/' 
                  %li
                    = link_to t('Keywords.a'), '/' 
                  %li
                    = link_to t('Keywords.b'), '/'              
                  %li
                    = link_to t('Keywords.s'), '/' 
                  %li
                    = link_to t('Keywords.w'), '/' 
                  %li
                    = link_to t('Keywords.c'), '/' 
                  %li
                    = link_to t('Keywords.d'), '/' 
                  %li
                    = link_to t('Keywords.f'), '/' 
                  %li
                    = link_to t('Keywords.g'), '/' 
                  %li
                    = link_to t('Keywords.h'), Sight
                  %li
                    = link_to t('Keywords.l'), Sight
                  %li
                    = link_to t('Keywords.m'), Sight
                  %li
                    = link_to t('Keywords.n'), Sight
                  %li
                    = link_to t('Keywords.e'), '/' 
                  %li
                    = link_to t('Keywords.p'), '/' 
                  - Tour.limit(5).order(" created_at desc").each do |new_tour|
                    %li
                      = link_to new_tour.title, new_tour
                  - Visa.limit(5).order(" created_at desc").each do |visa|
                    %li
                      = link_to visa.title, visa
              .col-xs-12
                .footer-certificate#responsive480hidecertificate.avoid-this
                  = render 'shared/footer_certificate'
            .col-xs-4.related-links
              %h4.title-footer-form.contact#related-links-title{:class => I18n.locale}= t('related-links')
              = render 'shared/related_links'
            
                    
          .copyright.col-xs-12{:class => I18n.locale}= t('copyright')
        
    .show-social.clear-float.avoid-this
      %h3{:class => I18n.locale}= t('social-find-us')
      .col-xs-12.set-center          
        = link_to url_with_protocol('www.facebook.com/travelagency.didar'), :target => "_blank", :class => 'social-icon' do
          = image_tag 'f.png'

        = link_to url_with_protocol('www.instagram.com/didaragency'), :target => "_blank", :class => 'social-icon' do
          = image_tag 't.png'  
        = link_to url_with_protocol('www.telegram.me/DidarTravelAgency'), :target => "_blank", :class => 'social-icon' do
          = image_tag 'telegram.png' 
    
    - unless is_admin? 
      - if current_page?('/')
        .modal.fade.bs-example-modal-sm#newsletterModal{ "aria-labelledby" => "mySmallModalLabel", role: "dialog"}
          .modal-dialog.modal-sm
            .modal-content
              .modal-header
                %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
                .col-xs-2= image_tag 'travel_red.png', :width => "40", :height => "40"
                %h4.col-xs-10#myModalLabel2.modal-title{:class => I18n.locale} 
                  = t('subscribe_to_newsletter')
                
              .modal-body
                - if flash[:Ncustomer].present?
                  %b.alert.alert-success{:class => I18n.locale}= flash[:Ncustomer]
                - else   
                  = render 'customers/form'
              .modal-footer
                %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close
     
  
    .modal.fade.bs-example-modal-sm#send_email{"aria-hidden" => "true", "aria-labelledby" => "mySmallModalLabel", role: "dialog", tabindex: "-1"}
      .modal-dialog.modal-sm
        .modal-content
          .modal-header
            %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
            %h4#myModalLabel.modal-title{:class => I18n.locale}
              = t ('send-mail') 
          .modal-body
            = render 'send_links/form'
          .modal-footer
            %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close
    
    %script{:defer => "defer", :src => "https://mylivechat.com/chatinline.aspx?hccid=69859983", :type => "text/javascript"}       
    - if is_admin?
      .admin-menu.avoid-this
        = render 'shared/admin_menu'
    - elsif is_user?
      .admin-menu
        = render 'shared/user_menu'
    
    = link_to '#top', :id => "go-top-page", :class => "anchorLink avoid-this" do
      = image_tag 'gotop.png', :title => "بازگشت به بالای صفحه"
       
  - unless current_page?('/') 
    
    :javascript
      $(document).ready(function() {
        $('html, body').animate({ scrollTop: 600 }, 'slow'); 
      });
  :javascript
    $('a#go-top-page').smoothScroll();
   
  
  = javascript_include_tag "lightbox"
  
  = javascript_include_tag "jquery.kinetic.min"
  = javascript_include_tag "jquery.mousewheel.min"
  = javascript_include_tag "jquery.smoothdivscroll-1.3-min"
  
