!!!
/ Microdata markup added by Google Structured Data Markup Helper.
%html
  %head
    %title 
      = t("didartravel") + (' Travel| سفر, بلیت, ایران, ویزا, visa, آژانس, آژانس هواپیمایی| iran travel| travle agency| ticket| visit iran| iran sights') 
    = stylesheet_link_tag    'application', media: 'all'  
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %meta{:charset => "utf-8"}    
    %meta{:name => "keywords", :content =>   "آژانس هواپیمایی دیدار, دیدار, سفر, مسافرت, ویزا,  تورهای لحظه ای, تورهای خارجی"}
    %meta{:name => "robots", :content => "NoIndex,follow"}
    %meta{:name => "googlebot", :content => "noarchive"}
    %meta{:name => "slurp", :content => "NoIndex,follow"}
    %meta{:name => "msnbot", :content => "NoIndex,follow"}
    %meta{:name => "teoma", :content => "NoIndex,follow"}
    %meta{:name => "description", :content => "#{t("radantravel")}, Radan Travel Agency, آژانس هواپیمایی رادان سیر"}
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "content-type"}/
    %meta{:content => "8ana4hAqdsH47iRKOF8mRJ50NCHxxcp9G58sWpS4w_g", :name => "google-site-verification"}/
    = yield(:refresh_meta) if content_for?(:refresh_meta)
    = favicon_link_tag 'favicon.png', rel:'shortcut icon', type: 'image/png', :title => "آژانس هواپیمایی رادان سیر"

  %body
    .main{:class => I18n.locale}
      .main-menu.col-xs-12
        
        .top-of-menu.col-xs-12
          .col-xs-7.pull-right
            %p.site-title{:class => I18n.locale}= t("didartravel")
          .col-xs-2{:class => I18n.locale}
            .flag_bar
              = link_to (image_tag 'flag/en_sm.png'), '#'
              = link_to (image_tag 'flag/ir_sm.png'), '#'
              = link_to (image_tag 'flag/ar_sm.png'), '#'
          
          .col-xs-2{:class => I18n.locale}
            #search
              = form_tag "http://google.com/search", method: "get",  :target=> "_blank", :class => "contact-form", :id => "contact-form" do
                .search_on_google
                  .google-field= text_field_tag :q, '', placeholder: 'جستجو در گوگل',  :class => I18n.locale
                  .google-submit
                    =image_submit_tag 'search.png', :name => "sa",  :class => I18n.locale


          
        .col-xs-12.logo-center{:class => I18n.locale}
          = render 'shared/menu_bar'
        
        .bottom-of-menu.col-xs-12
          
        
      - if @page_slides.present?
        = render "slides/slider", :slides => @page_slides
      - elsif @other_slides.present?
        = render "slides/slider", :slides => @other_slides
      - else
        = render "slides/slider", :slides => Slide.all      
      
      .col-xs-12.bottom-slider
        -#
          = render 'shared/weather'
     
      -#
        - if current_page?('/') 
          = render 'shared/four_main_icon'
      - if current_page?(Sight) 
        = render 'sights/five_sight_icon'
      - if params[:controller] == 'hotels'
        = render 'shared/multi_slider_hotel'
      - elsif params[:controller] == 'sights'
        = render 'shared/multi_slider_visit_iran'
      - else
        = render 'shared/multi_slider_search_tour', :tours => Tour.all
      = link_to '', '#', :name => "#top", :id => "page-top", :title => "آژانس هواپیمایی رادان سیر"
      .yield.clear-float{:class => I18n.locale}
        = link_to '', '#', :name => "yield", :id => "yieldAnchor", :title => "آژانس هواپیمایی رادان سیر"
        = yield
        - if current_page?('/') 
          .keywords
            %p= t('Keywords.title')
            %ul.tag-cloud.full-width{:class => I18n.locale}
              %li.tag-cloud
                = link_to t('didartravel'), '/' 
              %li.tag-cloud
                = link_to t('Keywords.a'), '/' 
              %li.tag-cloud
                = link_to t('Keywords.b'), '/'              
              %li.tag-cloud
                = link_to t('Keywords.s'), '/' 
              %li.tag-cloud
                = link_to t('Keywords.w'), '/' 
              %li.tag-cloud
                = link_to t('Keywords.c'), '/' 
              %li.tag-cloud
                = link_to t('Keywords.d'), '/' 
              %li.tag-cloud
                = link_to t('Keywords.f'), '/' 
              %li.tag-cloud
                = link_to t('Keywords.g'), '/' 
              %li.tag-cloud
                = link_to t('Keywords.h'), Sight
              %li.tag-cloud
                = link_to t('Keywords.l'), Sight
              %li.tag-cloud
                = link_to t('Keywords.m'), Sight
              %li.tag-cloud
                = link_to t('Keywords.n'), Sight
              %li.tag-cloud
                = link_to t('Keywords.e'), '/' 
              %li.tag-cloud
                = link_to t('Keywords.p'), '/' 
      .col-xs-12.cal-weather
        .col-xs-6
          .scrollable.vertical
            #test.items
            .navi
        .col-xs-6.calendar
          #datepicker7.col-xs-6
          
      .footer.col-xs-12 
        = render 'shared/footer'
        
          
    .modal.fade.bs-example-modal-sm{"aria-hidden" => "true", "aria-labelledby" => "mySmallModalLabel", role: "dialog", tabindex: "-1"}
      .modal-dialog.modal-sm
        .modal-content
          .modal-header
            %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
            %h4#myModalLabel.modal-title 
              = t ('send-mail')          
          .modal-body
            = render 'send_links/form'
          .modal-footer
            %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close
    .show-social      
      .col-xs-12.set-center{:style => "left:0;position: absolute; top:5%; padding-left:4%"}
        .social-icon
          = link_to '#', :target => "_blank" do
            .col-xs-4{:style => "padding:0"}= image_tag 'f.png', :title => "آژانس_هواپیمایی_رادان_سیر", :alt=> "آژانس_هواپیمایی_رادان_سیر"
            %span.col-xs-7{:class => I18n.locale, :style => "padding:0; text-align:left"}= t('facebook')
        .social-icon.clear-float
          = image_tag 'l.png', :title => "آژانس هواپیمایی رادان سیر", :alt => "آژانس هواپیمایی رادان سیر"
          %span{:class => I18n.locale}= t('linkedin')
        .social-icon
          = image_tag 'g.png', :title => "آژانس هواپیمایی رادان سیر", :alt => "آژانس هواپیمایی رادان سیر"
          %span{:class => I18n.locale}= t('googleplus')
        .social-icon
          = image_tag 't.png', :title => "آژانس هواپیمایی رادان سیر", :alt => "آژانس هواپیمایی رادان سیر"
          %span{:class => I18n.locale}= t('twitter')
           
    - if is_admin?
      .admin-menu
        = render 'shared/admin_menu'
    
    = link_to '#top', :id => "go-top-page", :class => "anchorLink", :title => "آژانس هواپیمایی رادان سیر" do
      = image_tag 'gotop.png', :title => "بازگشت به بالای صفحه", :alt => "آژانس هواپیمایی رادان سیر - بازگشت به بالای صفحه"
       
  - unless current_page?('/') 
    
    :javascript
      $(document).ready(function() {
        $('html, body').animate({ scrollTop: 600 }, 'slow'); 
      });
  :javascript  
    $('.carousel').carousel();
    $('#carousel .carousel-inner :first').addClass('active');   


    $('.carousel[data-type="multi"] .item').each(function(){
      var next = $(this).next();
      if (!next.length) {
        next = $(this).siblings(':first');
      }
      next.children(':first-child').clone().appendTo($(this));
      
      for (var i=1;i<2;i++) {
        next=next.next();
        if (!next.length) {
          next = $(this).siblings(':first');
        }
        
        next.children(':first-child').clone().appendTo($(this));
      }
    });
    $('#package-tour1 :first').addClass('active');   
    $('#package-tour2 :first').addClass('active');
    
    $('a#go-top-page').smoothScroll();
    $('#datepicker7').datepicker();      
    
    $(document).ready(function () {

      $('#test').weatherfeed(['IRXX0008','IRXX0018','IRXX0016','IRXX0003','IRXX0015']).ajaxStop(function() {


        $("div.scrollable").scrollable({ 
                vertical: true,  
                size: 1
        }).circular().navigator().autoscroll({
          interval: 3000
        });
      });
    });
    
   
