!!!
/ Microdata markup added by Google Structured Data Markup Helper.
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "content-type"}
    %meta{:charset => "utf-8"}    
    %title= 'آژانس مسافرتی، جهانگردی،زیارتی دیدار'
    = stylesheet_link_tag    'application', media: 'all'  
    = stylesheet_link_tag    'responsive', media: 'all'  
    = javascript_include_tag 'application'   
    
    %meta{:name => "keywords", :content =>   "آژانس هواپیمایی دیدار, دیدار, سفر, مسافرت, ویزا,  تورهای لحظه ای, تورهای خارجی"}
    %meta{:name => "robots", :content => "Index,follow"}
    %meta{:name => "googlebot", :content => "archive"}
    %meta{:name => "slurp", :content => "Index,follow"}
    %meta{:name => "msnbot", :content => "Index,follow"}
    %meta{:name => "teoma", :content => "Index,follow"}        
    %meta{content: "no", "http-equiv" => "imagetoolbar"}
    %meta{:content => "گروه مهندسین راش", :name => "author"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "true", :name => "HandheldFriendly"}/
    %meta{:content => "width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no", :name => "viewport"}/
    = csrf_meta_tags
    = yield(:refresh_meta) if content_for?(:refresh_meta)
    = favicon_link_tag 'favicon.png', rel:'shortcut icon', type: 'image/png'

  %body
    .main{:class => I18n.locale}
      .main-menu.col-xs-12
        
        .top-of-menu.col-xs-12
          .col-xs-4.pull-right
            - if I18n.locale == :fa
              .col-xs-12.pull-right{:style => "padding:0"}
                %p.site-title{:class => I18n.locale}= t("didartravel-part1")
              .clear-float
              .col-xs-7.pull-left{:style => "padding:0"}
                %p.site-title{:class => I18n.locale}= t("didartravel-part2")              
            - else
              %p.site-title{:class => I18n.locale}= t("didartravel")
          .col-xs-4.pull-right
            .col-xs-12.menu-side.logo-side
          .col-xs-4{:class => I18n.locale}
            .flag_bar
              = link_to (image_tag 'flag/en_sm.png'), '#', {"data-toggle" => "tooltip", "data-placement" => "bottom", :title => 'English'}
              = link_to (image_tag 'flag/ir_sm.png'), '#',{"data-toggle" => "tooltip", "data-placement" => "bottom", :title => 'فارسی'}
              = link_to (image_tag 'flag/ar_sm.png'), '#', {"data-toggle" => "tooltip", "data-placement" => "bottom", :title => 'العربية'}
          
          

          
        .col-xs-12.logo-center{:class => I18n.locale}
          = render 'shared/menu_bar'
        
        .bottom-of-menu.col-xs-12
          
        
      - if @page_slides.present?
        = render "slides/slider", :slides => @page_slides
      - elsif @other_slides.present?
        = render "slides/slider", :slides => @other_slides
      - else
        = render "slides/slider", :slides => Slide.all      
      
      .col-xs-12.bottom-slider
        
     
      
      - if current_page?('/') 
        = render 'shared/multislider_news_weather', :tours => Tour.all
        
      - if current_page?(Sight) 
        = render 'sights/five_sight_icon'
      - if params[:controller] == 'hotels'
        = render 'shared/multi_slider_hotel'
      - elsif params[:controller] == 'sights'
        = render 'shared/multi_slider_visit_iran'
      
      = link_to '', '#', :name => "#top", :id => "page-top"
      .yield.clear-float{:class => I18n.locale}
        = link_to '', '#', :name => "yield", :id => "yieldAnchor"
        = yield
        
        
      .col-xs-12.footer-bottom
        .col-xs-12
          .col-xs-3
          .footer-certificate.col-xs-6
            - @certificates = Certificate.all
            -@width_size = 100 / @certificates.count
            - @certificates.each do |certificate|
              .certificate-box{"data-toggle" => "tooltip", "data-placement" => "bottom", "title" => certificate.title, :style =>  "width:"+@width_size.to_s+"%"}
                = image_tag certificate.image(:small), :width => "90"
                %p= certificate.title
          .col-xs-3
        .clear-float  

        .col-xs-3.sitevisit
          .col-xs-12#newsletter
            %h4.title-footer-form.contact{:class => I18n.locale}= t('subscribe_to_newsletter')
            = render 'shared/newsletter_subscribe'
          .clear-float
          .col-xs-12.visits
            %h4.title-footer-form.contact{:class => I18n.locale}= t('sitevisit.statistics')          
            .col-xs-11
              %p{:class => I18n.locale}
                %b= t('sitevisit.total-views')
                =  Visit.all.count
              %p{:class => I18n.locale}
                %b= t('sitevisit.visits-today')
                =  @online_day
              %p{:class => I18n.locale}
                %b= t('sitevisit.online-number')
                = @online_now    
          
        .col-xs-6
          = render 'shared/footer_menu'
          - if current_page?('/') 
            .keywords.col-xs-12
              %p{:class => I18n.locale}= t('Keywords.title')
              %ul{:class => I18n.locale}
                %li
                  = link_to t('didartravel'), '/' 
                %li
                  = link_to t('Keywords.a'), '/' 
                %li
                  = link_to t('Keywords.b'), '/'              
                %li
                  = link_to t('Keywords.s'), '/' 
                %li
                  = link_to t('Keywords.w'), '/' 
                %li
                  = link_to t('Keywords.c'), '/' 
                %li
                  = link_to t('Keywords.d'), '/' 
                %li
                  = link_to t('Keywords.f'), '/' 
                %li
                  = link_to t('Keywords.g'), '/' 
                %li
                  = link_to t('Keywords.h'), Sight
                %li
                  = link_to t('Keywords.l'), Sight
                %li
                  = link_to t('Keywords.m'), Sight
                %li
                  = link_to t('Keywords.n'), Sight
                %li
                  = link_to t('Keywords.e'), '/' 
                %li
                  = link_to t('Keywords.p'), '/' 
                - Tour.limit(5).order(" created_at desc").each do |new_tour|
                  %li
                    = link_to new_tour.title, new_tour
                - Visa.limit(5).order(" created_at desc").each do |visa|
                  %li
                    = link_to visa.title, visa
        .col-xs-3.related-links
          %h4.title-footer-form.contact{:class => I18n.locale}= t('related-links')
          = render 'shared/related_links'
          
        .copyright.col-xs-12= t('copyright')
        
      
      
    .modal.fade.bs-example-modal-sm{"aria-hidden" => "true", "aria-labelledby" => "mySmallModalLabel", role: "dialog", tabindex: "-1"}
      .modal-dialog.modal-sm
        .modal-content
          .modal-header
            %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
            %h4#myModalLabel.modal-title 
              = t ('send-mail')          
          .modal-body
            = render 'send_links/form'
          .modal-footer
            %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close
    
           
    - if is_admin?
      .admin-menu
        = render 'shared/admin_menu'
    
    = link_to '#top', :id => "go-top-page", :class => "anchorLink"do
      = image_tag 'gotop.png', :title => "بازگشت به بالای صفحه"
       
  - unless current_page?('/') 
    
    :javascript
      $(document).ready(function() {
        $('html, body').animate({ scrollTop: 600 }, 'slow'); 
      });
  :javascript  
   
    
    $('a#go-top-page').smoothScroll();
    $('#datepicker7').datepicker();      
    
    $(document).ready(function () {

      $('#test').weatherfeed(['IRXX0008','IRXX0018','IRXX0016','IRXX0003','IRXX0015']).ajaxStop(function() {


        $("div.scrollable").scrollable({ 
                vertical: true,  
                size: 1
        }).circular().navigator().autoscroll({
          interval: 3000
        });
      });
    });
    
   
